
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" 
        *ngFor="let product of products; let i = index">
            <app-card
                [product]="product"
                [id]="i"
                (selectedProduct)="selectedProduct($event)"
                (addCardProduct)="addCardProduct($event)"
            ></app-card>
        </div>
    </div>  
</div>

<app-detail-product
*ngIf="currentProduct"
[currentProduct]="currentProduct"
></app-detail-product>